<div class="bg">

<div class="container">


<div class="text-center">
    <h2 class="h1 py-5 font-weight-bold">Test Angular weatherstack! <i class="fas fa-cloud-sun"></i> </h2>
    <form>
<div class="formgroup">

    <input type="text"  class="form-control-lg" [(formControl)]="ville"  name = "ville" placeholder="choose location" >
</div>

  <br/>
  <div class="formgroup">

      <button type="submit" (click) = "onClickSubmit()" class="btn btn-info btn-rounded btn-lg">More Détails  <i class="fas fa-bolt"></i></button>

</div>    

</form>
</div>
<div class="row">
<div class="col-md-4">
    <h3 class="text-center my-4"><i class="fas fa-globe-americas"></i> Request Details:</h3>
    <h4 class="text-center">{{resultat.request.query}}</h4>
  <h4 class="text-center">Type: {{resultat.request.type}}</h4>
  <h4 class="text-center">Language: {{resultat.request.language}}</h4>
  <h4 class="text-center">Unit: {{resultat.request.unit}}</h4>
  
</div>
<div class="col-md-4">
   
  <h3 class="text-center my-4"><i class="fas fa-map-marked-alt"></i> Location Details:</h3>
  <h4 class="text-center">Name: {{resultat.location.name}}</h4>
  <h4 class="text-center">Country: {{resultat.location.country}}</h4>
  <h4 class="text-center">Region: {{resultat.location.region}}</h4>
  <h4 class="text-center">Zone: {{resultat.location.timezone_id}}</h4>
  <h4 class="text-center">Localtime: {{resultat.location.localtime}}</h4>
  </div>
<div class="col-md-4">
    <h3 class="text-center my-4"><i class="fas fa-cloud-moon"></i> Current Details:</h3>
    <h4 class="text-center">Time: {{resultat.current.observation_time}}</h4>
    <h4 class="text-center">Temperature: {{resultat.current.temperature}}</h4>
    <h4 class="text-center">Visibility: {{resultat.current.visibility}}</h4>
    <h4 class="text-center">Humidity: {{resultat.current.humidity}}</h4>
    <h4 class="text-center">Cloudcover: {{resultat.current.cloudcover}}</h4>
    <h4 class="text-center">Weather descriptions: {{resultat.current.weather_descriptions}}</h4>
    <h4 class="text-center">Wind degree: {{resultat.current.wind_degree}}</h4>
    <h4 class="text-center">Wind speed: {{resultat.current.wind_speed}}</h4>

</div>

  
</div>
</div>
</div>