body, html {
    height: 100%;
  }
  .bg {
    /* The image used */
    background-image: url("../assets/images/bg-1.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h4{
color: blanchedalmond;
background-size: cover

   }

   h3{
       color: red;
       background-size: cover

   }
   